<% content_for :head do %>
  <%= javascript_include_tag 'nested_fields' %>
  <% @is_ext_js_loaded = true %>
<% end unless @is_ext_js_loaded %>

<fieldset>
  <legend><%= association.to_s.titleize %></legend>

  <a href="#" class="add_fields" data-url="<%= add_url %>">Add</a>

  <%= f.fields_for association, :builder => f.class do |nested_f| %>
    <%= render nested_partial, :f => nested_f %>
  <% end %>
</fieldset>
