<fieldset id="<%= association %>" class="nested_fieldset">
  <legend><%= association.to_s.titleize %></legend>

  <a href="#" class="add_nested_fields" data-url="<%= add_url %>">Add</a>

  <%= f.fields_for association, :builder => f.class do |nested_f| %>
    <%= render 'nested_fields/block', :f => nested_f, :nested_partial => nested_partial %>
  <% end %>
</fieldset>
