<% if local_assigns[:positioned_by] %>
  <fieldset class="nested_fieldset positioned" data-positioned-by="<%= positioned_by %>">
<% else %>
  <fieldset class="nested_fieldset">
<% end %>
  <legend><%= local_assigns[:legend] || association.to_s.titleize %></legend>

  <%= yield %>

  <a href="#" class="add_nested_fields" data-url="<%= add_url %>">Add</a>

  <%= f.fields_for association, :builder => f.class do |nested_f| %>
    <%= render 'nested_fields/block', :f => nested_f, :nested_partial => nested_partial %>
  <% end %>
</fieldset>
