<fieldset class="nested_fieldset <%= association %>">
  <legend><%= local_assigns[:legend] || association.to_s.titleize %></legend>

  <%= yield %>

  <%= f.fields_for association, associate, :builder => f.class do |nested_f| %>
    <label class="nested_one_label">
      <%= check_box_tag "has_#{association}", nil, !local_assigns[:has_zero], :class => :nested_fields_has_one %>
      Has <%= association.to_s.titleize %>?
    </label>

    <%= nested_f.hidden_field :_destroy, :class => :destroy_nested_one, :value => local_assigns[:has_zero] %>

    <%= content_tag :div, :class => :nested_one, :style => ('display:none' if local_assigns[:has_zero]) do %>
      <%= render :partial => nested_partial,
                :object => nested_f.object,
                :as => nested_f.object.class.name.underscore.to_sym,
                :locals => {:f => nested_f} %>
    <% end %>
  <% end %>
</fieldset>
